@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  width: 1160px;
  margin: 40px auto 0 auto;
  background-color: #FFE17F;
}

.logo {
  position: absolute;
  margin-top: -20px;
  margin-left: 60px;
}

.search {
  display: flex;
  margin: 46px auto 30px auto;
  width: 1040px;
}

.search-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 650px;
}

.basket-list {
  max-width: 340px;
  margin-left: auto;
}

.search-link {
  text-decoration: none;
  font-family: "rubik", sans-serif;
  color: #000000;
  line-height: 30px;
  align-items: center;
}

.search-input {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: 2px solid #000000;
  border-radius: 50px 0px 0px 50px;
  background-color: #FFE17F;
  width: 359px;
  height: 40px;
  padding: 0px 0px 0px 16px;
}

.search-button {
  width: 160px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 0px 50px 50px 0px;
  background-color: #FFE17F;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 0;
}

.navigation {
  margin: 0 auto;
  width: 1040px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
  list-style-type: none;

}

.menu-item {
  margin-right: 40px;

}

.menu-item:first-child {
  margin-right: auto;

}

.menu-item:last-child{
  margin-right: 0;
}

.navigation-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1440px;
  margin: 0 auto;
}

.slider {
  margin-bottom: 70px;
  width: 1160px;
  margin: 0 auto;
}

.slider-products {
  display: flex;
  margin: 0;
  padding: 0;
}

.slider-left {
  display: flex;
}


.slider-button {
  width: 20px;
  height: 60px;
  border: 0px;
  margin: auto 0;
}

.slider-prev {
  background: url(../image/back.svg);
}

.slider-next {
  background: url(../image/next.svg);
}

.slider-header {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 121px 0 29px;
}

.slider-description {
  color: #444444;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin: 0 0 60px 0;
}

.slider-link {
  font-family: 'Raleway', sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.2em;
  padding: 0;
}

.slider-more {
  width: 220px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 60px;
}

.slider-parametr {
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  padding: 0;
}

.slider-parametr-value {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  padding: 0;
}

.slider-ilst-button {
  display: flex;
  list-style-type: none;
  width: 76px;
  justify-content: space-between;
  margin: 0 auto;
}

.categories {
  width: 1160px;
  margin: 0 auto;
}

.categories-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
}

.categories-items {
  width: 160px;
}

.categories-link {
  text-decoration: none;

}

.slider-ilst {
  list-style-type: none;
}

.slider-button-circle {
  cursor: pointer;
  padding: 0;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: #FFFFFF;
}

.categories-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.services-button-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 73px;
}

.services-button-items{
margin-bottom: 35px;
}

.services-button-items{
  margin-bottom: 35px;
  }

.services-button {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  width: 160px;
  height: 40px;
  line-height: 21px;
  text-align: center;
  border: 0px;
  background-color: #F0F0F0;
  padding: 0;
  cursor: pointer;
}

.services {
  background-color: #F0F0F0;
  margin-bottom: 142px;
}

.services-container {
  display: flex;
  height: 319px;
  width: 1160px;
  margin: 0 auto;
}

.services-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 73px;
  margin-left: 243px;
}

.services-header {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.services-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}
.delivery{
  margin-bottom: 70px;
  width: 1160px;
  margin: 0 auto;
}

.delivery-order {
  background-color: #F0F0F0;
}

.delivery-button {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  width: 1160px;
  height: 100px;
  cursor: pointer;
}

.inform {
  display: flex;
  margin-bottom: 70px;
  width: 1160px;
  margin: 0 auto;
}

.inform-about{
  margin-top: 47px;
}

.inform-header {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 48px;
}

.inform-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
}

.inform-text-first {
  margin: 0;
}

.inform-tel {
  display: block;
  text-decoration: none;
}

.inform-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.inform-items {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 19px;
}

.inform-items:last-child{
  margin: 0;
}

.inform-text-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-bottom: 15px;
}

.inform-link {
  display: block;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: 40px;
}

.mailing {
  background-color: #F0F0F0;
  width: 1440px;
}
.mailing-container {
  width: 1160px;
  margin: 0 auto;
}

.mailing-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.mailing-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.mailing-email {
  width: 557px;
  height: 55px;
  font-size: 18px;
  color: #444444;
  background-color: #F0F0F0;
  border: 3px solid #C4C4C4;
}

.mailing-button {
  width: 253px;
  height: 57px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #000000;
  text-transform: uppercase;
  border: 3px solid #C4C4C4;
  cursor: pointer;
}

.inform-check::before {
  content: url(../image/check-mark.svg);
  padding-right: 16.5px;
  width: 14px;
  height: 14px;
}



.page-footer {
  background-color: #444444;
  color: #ffffff;
  width: 1440px;
  margin: 0 auto;
  height: 320px;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.footer-contacts {
  width: 240px;
  margin-top: 62px;
  margin-right: 120px;
}

.footer-contacs-logo {
  display: block;
  margin-bottom: 35px;
}

.footer-contacs-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.footer-services {
  margin-right: 183px;
  margin-top: 140px;
  width: 450px;
}

.footer-services-list {
  list-style-type: none;
  margin: 0;
}

.footer-services-link {
  text-decoration: none;
  ffont-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-academy {
  width: 175px;
  height: 116px;
  margin-top: 140px;
}

.footer-academy-tel {
  display: block;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  }

.footer-academy-link{
  display: block;
  margin-top: auto;
}

.footer-academy-icon{
  display: block;
  margin-left: auto;
  margin-top: auto;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
}

.footer-social-item {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
}


.main-catalog {
  background-color: #FFFFFF;
}

.inner-header {
  background-color: #FFFFFF;
}

.inner-header-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-list {
  list-style-type: none;
}

.breadcrumbs-link {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.catalog-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.catalog-products {
  background-color: #F0F0F0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.catalog-filter-list {
  list-style-type: none;
}

.control-input {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.catalog-filter-button {
  font-family: 'Raleway', sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.catalog-header-option {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.select-control {
  background-color: #F0F0F0;
  border: 0;
  font-family: 'Rubik' sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;

}

.button-arrows-up {
  background: url(../image/up.svg) no-repeat;
  width: 11px;
  height: 10px;
  padding: 0;
}

.button-arrows-down {
  background: url(../image/down.svg) no-repeat;
  width: 11px;
  height: 10px;
  padding: 0;
  margin: 0;
}

.product {
  background-color: #FFFFFF;
}

.product-list {
  list-style-type: none;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.pagination-show-more {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  width: 760px;
  height: 55px;
  border: 3px solid #E5E5E5;
  background-color: #FFFFFF;
}

.pagination {
  background-color: #EBEBEB;
}

.pagination-link {
  text-decoration: none;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  align-items: center;
}

.back {
  color: #444444;
}

.pagination-link-number {
  text-decoration: none;
  color: #444444;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.pagination-list {
  list-style-type: none;
}
